
body
{
    position: relative;
}



.imgP figure img
{
    
    padding: 50px;  
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;         

}

.imgP figure img:hover{
    border-radius: 50%;
    -webkit-transform:scale(1);
    transform:scale(1.3);

}


#edificio
{
    margin-top: 10%;
}

.row
{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
   
}

article{
    font-family: 'Lora', serif;
    font-size: 22px;
    margin-top: 15px;
    padding-top:  25px;; 
    text-align: center;
    font-style: italic; 

}


h1{
margin-top: 25px;
padding-top:25px;
text-align: center;
font-style: italic;
color:hsl(11, 0%, 70%); 
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="submit"]{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
   
    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #3371B6;
}












footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 100px;
    color: #ccc;
    clear: both;
  }
